@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css');
@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');

.font-nanum-square {
    font-family: 'NanumSquare', sans-serif;
    font-weight: 700;
}

.font-nanum-square-round {
    font-family: 'NanumSquareRound', sans-serif;
    font-weight: 700;
}