.weather {
    background-color: #3e8c5e;
    width: 300px;
    height: 100px;
    position: absolute;
    right: 20px;
    top: 200px;
    color: white;
}

.my-page {
    background-color: #5db07f;
    width: 300px;
    height: 700px;
    position: absolute;
    right: 20px;
    top: 300px;
}

#test {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}
