@import "./reset.css";
@import "./font.css";

body {
    font-family: 'NanumSquare', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #ffffff;
}

li a {
    font: bold;
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a .menu-icon {
    float: right;
    width: 10px;
    height: 10px;
}

li a.active:hover {
    background-color: #f1f1f1;
    color: black;
}

#my-crew {
    position: fixed;
    float: right;
    width: 237px;
    background-color: #5DB07F;
    color: #ffffff;
}

#my-crew #profile {
    float: left;
}

#main1 {
    background-color: #F1F1F1;
}

#main1 #background {
    width: 530px;
}

#main1 #kusitms_logo {
    width: 100px;
    height: 100px;
    position: relative;
    top: 0px;
    left: 0px;
}

#main1 #write {
    position: relative;
    float: right;
    right: 100px;
    background-color: #3E8C5E;
    border: 0px none white;
    border-radius: 30px;
    color: #ffffff;
}

#main2 .box {
    display: inline-block;
    width: 350px;
    border: 0px none white;
    border-radius: 30px;
    box-shadow: 3px 3px 5px #F1F1F1;
}

#main2 .box .picture {
    position: relative;
    top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#main2 .box .content {
    margin: 15px;
}

#my-crew {
    background-color: #5DB07F;
    width: 300px;
    color: #ffffff;
    text-align: center;
}

#my-crew #profile {
    display: inline-block;
    margin-left: 15px;
    margin-top: 15px;
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
}

#my-crew #my-crew-rank {
    color: #2E6D48;
    font-weight: bold;
}

#my-crew .my {
    width: 1000px;
}

#my-crew .rank {
    font-size: 30px;
    color: #2E6D48;
    font-weight: bold;
}

#chat {
    position: fixed;
    float: right;
    right: 10px;
    bottom: 10px;
}